@model SoftwarePlannerLibrary.Models.NoteModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>NoteModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatorModelId" class="control-label"></label>
                <select asp-for="CreatorModelId" class="form-control" asp-items="ViewBag.CreatorModelId"></select>
                <span asp-validation-for="CreatorModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectModelId" class="control-label"></label>
                <select asp-for="ProjectModelId" class="form-control" asp-items="ViewBag.ProjectModelId"></select>
                <span asp-validation-for="ProjectModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequirementModelId" class="control-label"></label>
                <select asp-for="RequirementModelId" class="form-control" asp-items="ViewBag.RequirementModelId"></select>
                <span asp-validation-for="RequirementModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskModelId" class="control-label"></label>
                <select asp-for="TaskModelId" class="form-control" asp-items="ViewBag.TaskModelId"></select>
                <span asp-validation-for="TaskModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketModelId" class="control-label"></label>
                <select asp-for="TicketModelId" class="form-control" asp-items="ViewBag.TicketModelId"></select>
                <span asp-validation-for="TicketModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeModelId" class="control-label"></label>
                <select asp-for="TypeModelId" class="form-control" asp-items="ViewBag.TypeModelId"></select>
                <span asp-validation-for="TypeModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriorityModelId" class="control-label"></label>
                <select asp-for="PriorityModelId" class="form-control" asp-items="ViewBag.PriorityModelId"></select>
                <span asp-validation-for="PriorityModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusModelId" class="control-label"></label>
                <select asp-for="StatusModelId" class="form-control" asp-items="ViewBag.StatusModelId"></select>
                <span asp-validation-for="StatusModelId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Archived" /> @Html.DisplayNameFor(model => model.Archived)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AssignedUserlId" class="control-label"></label>
                <input asp-for="AssignedUserlId" class="form-control" />
                <span asp-validation-for="AssignedUserlId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamModelId" class="control-label"></label>
                <input asp-for="TeamModelId" class="form-control" />
                <span asp-validation-for="TeamModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
