@model SoftwarePlannerUI.Models.TicketModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TicketModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TicketName" class="control-label"></label>
                <input asp-for="TicketName" class="form-control" />
                <span asp-validation-for="TicketName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketDescription" class="control-label"></label>
                <input asp-for="TicketDescription" class="form-control" />
                <span asp-validation-for="TicketDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosedDate" class="control-label"></label>
                <input asp-for="ClosedDate" class="form-control" />
                <span asp-validation-for="ClosedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatorModelId" class="control-label"></label>
                <select asp-for="CreatorModelId" class ="form-control" asp-items="ViewBag.CreatorModelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProjectModelId" class="control-label"></label>
                <select asp-for="ProjectModelId" class ="form-control" asp-items="ViewBag.ProjectModelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TaskModelId" class="control-label"></label>
                <select asp-for="TaskModelId" class ="form-control" asp-items="ViewBag.TaskModelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TypeModelId" class="control-label"></label>
                <select asp-for="TypeModelId" class ="form-control" asp-items="ViewBag.TypeModelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PriorityModelId" class="control-label"></label>
                <select asp-for="PriorityModelId" class ="form-control" asp-items="ViewBag.PriorityModelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StatusModelId" class="control-label"></label>
                <select asp-for="StatusModelId" class ="form-control" asp-items="ViewBag.StatusModelId"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Archived" /> @Html.DisplayNameFor(model => model.Archived)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AssignedUserlId" class="control-label"></label>
                <input asp-for="AssignedUserlId" class="form-control" />
                <span asp-validation-for="AssignedUserlId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamModelId" class="control-label"></label>
                <select asp-for="TeamModelId" class ="form-control" asp-items="ViewBag.TeamModelId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
